html, body {
  margin: 10px;
  padding: 0;
  color: #38680a;
  text-align: center;
  background-color: white;;
  font-family: sans-serif;
}

canvas {
  margin: auto;
  display: block;
}

h1{
  text-align: center;
  line-height: 50%;
}

p{
  text-align: center;
}